*{
	box-sizing: border-box;
	font-family: sans-serif;
}



body{
	margin:0;
	height:100%;
	min-height:100%;
	/*background:#0061ff;*/
	background:red;
}

/*Video page*/


#video {
  display:none;
  position: relative;
  height:375px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
}

.close {
  position: fixed;
  float: right;
  right: 20px;
  top: 20px;
  background: red;
  cursor: pointer;
  display: none;
}

iframe{
  width:675px;
  height:400px;
  margin-top:10%;
  border:none;
  -webkit-box-shadow: 0 12px 15px -6px black;
    -moz-box-shadow: 0 12px 15px -6px black;
      box-shadow: 0 12px 15px -6px black;
}

/*main page*/
.wrapper-main{
    background: #3e3e3e;
    text-align: center;
    float: left;
    width: 100%;
    height: 100%;
    display:inline-block;
	width:100%;
	position:relative;
	float:left;
}

.main-flex-container{
	display:flex;
	flex-direction: column;
	padding:0 0 40px 0;
}

.year{
	display:flex;
	flex-direction: column;
}


.year a{
	width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10px auto;
    background: #111;
    height: 15vw;
    color:#fff;
    text-decoration:none;
    transition: all ease-in .2s;
    font-size: 40pt;
    font-family: 'Oswald', cursive;
}

.main-header{
	margin:80px 0;
	width:100%;
	font-size:30pt;
	position: relative;
}

.main-header a{
	font-size: 4vw;
    text-decoration: none;
    letter-spacing: 1pt;
    color: #fff;
    font-family: 'Chewy', cursive;
    text-transform: uppercase;
    font-weight: bold;
}

.main-header span{
    background: red;
    font-size: 3vw;
    padding: 0px 20px;
    margin-right: 5px;
    letter-spacing: 1pt;
    font-family: 'Oswald', sans-serif;
}
/*
.main-left{
	overflow: visible !important;
	width: 300px;
}*/

.wrapper-main::before {
    content: "";
    width: 339px;
    display: block;
    height: 100%;
    /* min-height: 200vh; */
    background: url("images/Left.png");
    background-size: cover;
    overflow: visible !important;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10 !important;
}

.wrapper-main::after{
    content: "";
    width: 339px;
    display: block;
    height: 100%;
    /* min-height: 200vh; */
    background: url("images/Right.png");
    background-size: cover;
    overflow: visible !important;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10 !important;
}
 
.year a:hover{
  font-size: 50pt;
  transform:scale(1.02);
  transition: all ease-in .2s;
  /*box-shadow:0px 0px 15px #000;*/
}

/*inside pages*/

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #3e3e3e;
    align-items: center;
    z-index:1 !important;
}

header:hover .nav{
    width: 100%;
    display:block;
    height:38px;
    transition:all ease-in .3s;
}

.logo-wrapper{
	width:100%;
	background:#111;
	text-align:center;
	padding:25px 0;
}

.logo-wrapper a{
	font-size:22pt;
	text-decoration: none;
	letter-spacing: 1pt;
	color:#fff;
	font-family: 'Chewy', cursive;
	text-transform: uppercase;
	font-weight: bold;

}

.logo-wrapper span{
	background:red;
	font-size:15pt;
	padding:2px 12px;
	margin-right:5px;
	letter-spacing: 1pt;
	font-family: 'Oswald', sans-serif;
}

.nav{
    width: 100%;
    display: block;
    height:0;
    overflow:hidden;
    transition:all ease-in .3s;
}

.nav ul{
	display:flex;
	justify-content: center;
	margin: 0;
	padding:0;
}

.nav ul li{
    list-style: none;
    width: 15%;
    text-align: center;
}

.nav a{
	display:block;
	padding: 10px 20px;
	width:100%;
	height:100%;
	color:#fff;
	text-decoration: none;
}

.nav a:hover{
	background:#111;
}

.wrapper{
	background:#3e3e3e;
	text-align:center;
	/*float:left;*/
	width:100%;
	height:100%;
}

.banner-2016{
	display:flex;
	width:100%;
	height:500px;
	/*background:linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("images/artist-image/2016.jpg");*/
	background:url("images/artist-image/2016.jpg");
	background-color:rgba(33,33,33, .9);
    background-blend-mode:multiply;
    background-size:cover;
    -webkit-filter:brightness(1.2);
	align-items: center;
	justify-content: center;
	align-content: center;
	overflow:hidden;
}

.banner-2015{
	display:flex;
	width:100%;
	height:500px;
	background:#ffcd00;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.banner-2014{
	display:flex;
	width:100%;
	height:500px;
	background:red;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.banner-2013{
	display:flex;
	width:100%;
	height:500px;
	background:#4682B4;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.banner-2012{
	display:flex;
	width:100%;
	height:500px;
	background:blue;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.banner-2011{
	display:flex;
	width:100%;
	height:500px;
	background:green;
	align-items: center;
	justify-content: center;
	align-content: center;
}

[class*="banner-"] h1{
	color:#fff;
	font-family:sans-serif;
	font-size: 60pt;
    font-family: 'Oswald', cursive;
	/*text-shadow: 0 0 5px #000;*/
}

.flex-container{
	display:flex;
	justify-content:flex-start;
	flex-direction:row;
	flex-flow: row wrap;
	height:auto;
	margin:15px 20px 20px 20px;
}

.artist{
	display:flex;
	overflow:hidden;
    width: 20%;
    height: 18vw;
}

.artist:after {
  content: "";
  display: table;
  clear: both;
}

[class*="xxl-a"]{
	display: flex;
	justify-content: center;
	align-items: center;
	width:100%;
	/*background-color:red;*/
	background-size:cover;
	background-position:center center;
	color:#fff;
	text-decoration: none;
	-webkit-filter:grayscale(100%);
	filter:grayscale(100%);
	transition: transform ease-in .2s;
}

[class*="xxl-a"] span{
	font-size:0pt;
	transition: font-size ease-in .2s;
}

/*[class*="xxl-a"]:hover span{
	font-size:14pt;
	transition: font-size ease-in .2s;
	background:rgba(255,0,0,.8);
	padding:5px;
}*/

.xxl-artist-2016:hover span{
	font-size:14pt;
	transition: font-size ease-in .2s;
	background:red 90%;
	padding:5px;
}

/*Artist images*/

#artist-1.xxl-artist-2016{
	background:url("images/artist-image/Desiigner.jpg");
	background-size:cover;
}

#artist-2.xxl-artist-2016{
	background:url("images/artist-image/Anderson-.Paak.jpg");
	background-size:cover;
}

#artist-3.xxl-artist-2016{
	background:url("images/artist-image/G-Herbo.jpg");
	background-size:cover;
}

#artist-4.xxl-artist-2016{
	background:url("images/artist-image/Lil-Yachty-2.jpeg");
	background-size:cover;
}

#artist-5.xxl-artist-2016{
	background:url("images/artist-image/Lil-dicky.jpg");
	background-size:cover;
}

#artist-6.xxl-artist-2016{
	background:url("images/artist-image/Dave-East.jpg");
	background-size:cover;
}

#artist-7.xxl-artist-2016{
	background:url("images/artist-image/Denzel-curry.jpg");
	background-size:cover;
}

#artist-8.xxl-artist-2016{
	background:url("images/artist-image/Lil-uzi-vert.jpg");
	background-size:cover;
}

#artist-9.xxl-artist-2016{
	background:url("images/artist-image/21-Savage.jpg");
	background-size:cover;
}

#artist-10.xxl-artist-2016{
	background:url("images/artist-image/Kodak-black.jpg");
	background-size:cover;
}

#artist-1.xxl-artist-2016:hover, #artist-2.xxl-artist-2016:hover, #artist-3.xxl-artist-2016:hover, #artist-4.xxl-artist-2016:hover, 
#artist-5.xxl-artist-2016:hover, #artist-6.xxl-artist-2016:hover, #artist-7.xxl-artist-2016:hover, #artist-8.xxl-artist-2016:hover,
#artist-9.xxl-artist-2016:hover, #artist-10.xxl-artist-2016:hover{
/*  background-color:#0dd40d;
  background-blend-mode:multiply;*/
  -webkit-filter:grayscale(0%);
  filter:grayscale(0%);
  transform:scale(1.02);
  -webkit-filter: brightness(1.1);
  transition: transform ease-in .2s;
}

.xxl-artist-2015:hover{
  background-color:#ffcd00;
  background-blend-mode:multiply;
  transform:scale(1.02);
  -webkit-filter: brightness(1.1);
  transition: transform ease-in .2s;
}

.xxl-artist-2014:hover{
  background-color:red;
  background-blend-mode:multiply;
  transform:scale(1.02);
  -webkit-filter: brightness(1.1);
  transition: transform ease-in .2s;
}

.xxl-artist-2013:hover{
  background-color:#4682B4;
  background-blend-mode:multiply;
  transform:scale(1.02);
  -webkit-filter: brightness(1.1);
  transition: transform ease-in .2s;
}

.xxl-artist-2012:hover{
  background-color:blue;
  background-blend-mode:multiply;
  transform:scale(1.02);
  -webkit-filter: brightness(1.1);
  transition: transform ease-in .2s;
}

.xxl-artist-2011:hover{
  background-color:green;
  background-blend-mode:multiply;
  transform:scale(1.02);
  -webkit-filter: brightness(1.1);
  transition: transform ease-in .2s;
}


footer{
    position: relative;
    bottom: 0;
    background:#111;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float:left;
}

.disclaimer{
	/*margin:10px 0;*/
	padding:5px 30px;
	color:#fff;
	font-size:10pt;
}

.brand-logo{
	padding:8px 30px;
}

/*Media Query Desktop*/

@media only screen 
and (min-width : 320px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio : 2){
    
}

/* Extra Small Devices, Phones */ 
@media only screen
and (max-width : 480px){
	*{
		transition:all linear .3s;
	}

	.banner-2016{
		width:100%;
		height:300px;
	}

	.artist{
	    width: 100%;
	    height: 300px;
	}

}

/* Small Devices, Tablets */
@media only screen 
and (min-width : 481px)
and (max-width : 768px){
	*{
		transition:all linear .3s;
	}

	.banner-2016{
		width:100%;
		height:300px;
	}

	.artist{
	    width: 50%;
	    height: 49vw;
	}
}

/* Medium Devices, Desktops */
@media only screen
and (min-width : 769px)
and (max-width : 992px){
	*{
		transition:all linear .3s;
	}

	.banner-2016{
		width:100%;
		height:350px;
	}

	.artist{
	    width: 33.333%;
    	height: 32vw;
	}
}

/* Large Devices, Wide Screens */
@media only screen 
and (min-width : 993px)
and (max-width : 1200px){
	*{
		transition:all linear .3s;
	}

	.banner-2016{
		width:100%;
		height:400px;
	}

	.artist{
	    width: 25%;
	    height: 24vw;
	}
}












